body {
  padding: 0px 10px
}

img {
  width: 40px;
  height: 40px;
  margin: 5px 10px;
  border-radius: 50%;
}

.country-container {
  display: flex;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add {
  border-radius: 50%;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

.country-list {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 10px;
}
